#rightSide{
    position: relative;
}
/*首页 start*/
#leftOperation{
    position: absolute;
    background: url(../images/moqiSprite.png) -9.5vw 0 no-repeat;
    right: 23vw;
    top: 16vw;
    height: 8.5vw;
    width: 2.8vw;
    background-size: 3400%;
    cursor: pointer;
}
#leftOperation.closed{
    background: url(../images/moqiSprite.png) -9.5vw 0 no-repeat;
}
#sevenStepsTab{
    position: absolute;
    background: url(../images/moqiSprite.png) -19vw 0 no-repeat;
    right: 23vw;
    top: 10vw;
    height: 12.5vw;
    width: 3.5vw;
    background-size: 3804%;

}
#duty .content ul{
    color: #fff;
    font-size: 1vw;
    margin: 1vw 0 1vw 1vw;
    width: 11vw;
    float:left
}
#duty .content ul li{
    line-height: 1.8vw;
}
#duty .content ul li span{
    width: 8vw;
    display: inline-block;
}

#duty .content div{
    float: right;
    font-size: 1.1vw;
    text-align: center;
    font-weight: bold;
    line-height: 1.5vw;
    margin-top: 2.3vw;
}

#cause .content{
    padding:.1vw;
}

.content li.progressLi{
    height: 4.7vw;
    width: 24%;
    border: 1px solid #333;
    display: inline-block;
    float: left;
    background: -webkit-linear-gradient(top,#5d6772,#354250);
    text-align: center;
    font-size: 1vw;
    line-height: 1.5vw;
    padding-top: .5vw;
}
.content li.progressLi.long{
    width: 49%;
}
.progressLi.long .progressBar{
    width: 8vw;
}

.content li.progressLi .percent{
    font-size: 1vw;
    color: #26fffe;
}

#cause #chartForCause{
    clear: both;
    height: 18vw;
    width: 22vw;
    background: transparent;
    border: none;
}

/*首页 end*/

/*贫困家庭 start*/
#seriousDisease .progressLi p{
    line-height:1vw;
    font-size:.9vw;
    padding: 0 .1vw;
}

#diseaseStructureChart{
    height: 20vw;
    width: 22vw;
}
#diseaseIncidence .content p{
    font-weight: bold;
    line-height: 9vw;
    margin-left: 16%;
    font-size: 1.1vw;
    display: inline-block;

}
#diseaseIncidenceChart{
    height: 9vw;
    width: 12vw;
    float: right;
}
#povertyStructureChart{
    height: 14vw;
    width: 23vw;
}
#povertyStructure{
    position: relative;
}
#povertyStructure .sectionTab{
    position: absolute;
    top: 3.5vw;
    right: 1vw;
}

#educationStructureChart{
    height: 14vw;
    width: 23vw;
}

#populationStructure .content>div{
    width:49%;
    height:12vw;
    display: inline-block;
    text-align: center;
    font-size: 1vw;
}

#maleChart,#femaleChart{
    height:100%;
    width:100%;
}
#populationStructure .content{
    margin-bottom: 2vw;
}

#sexStructure .content{
    text-align: center;
    padding:1vw;
}

.sexCount{
    font-size: 2vw;
    margin: 1vw 1vw 2vw 1vw;
    letter-spacing: .6vw;
    border: 1px solid #222;
    background: #333;
    padding: .5vw;
    box-shadow: 1px 1px 6px #000 inset;
}

#leftTabs{
    height: 10vw;
    position: absolute;
    right: 23vw;
    width: 2.7vw;
}

#leftTabs span{
    background: url(../images/leftTabs.png) .2vw 0 no-repeat;
    width: 100%;
    height: 8.8vw;
    display: inline-block;
    /* width: 100%; */
    background-size: 284%;
    cursor: pointer;
}
#leftTabs span.active{
    background-position-x: -4.7vw;
}

#leftTabs .education{
    background-position-y: -8.7vw;
}
#leftTabs .sex{
    background-position-y: -17.5vw;
}
#leftTabs .poverty{
    background-position-y: -26.2vw;
}

/*贫困家庭 end*/

/*五人小组 start*/

#sevenSteps .content{
    padding:1vw;
}

#sevenSteps .step{
    width: 48%;
    height: auto;
    background: -webkit-linear-gradient(top,#5d6771,#354350);
    display: inline-block;
    margin-bottom: .3vw;
    border: 1px solid #333;
}
#sevenSteps .long{
    width: 98%;
}
#sevenSteps .step .stepTitle{
    padding: .5vw;
    font-size: .9vw;
    text-shadow: 1px 1px 1px #000;
    color: #e5ebf1;
    letter-spacing: .1vw;
    width: 80%;
    border-bottom: 1px solid #3a4652;
    margin: 0 auto;
    height: 1vw;
    line-height: 1vw;
}

#sevenSteps .step .stepTitle span{
    display: inline-block;
    height: 1.3vw;
    width: 1.1vw;
    background: url(../images/moqiSprite.png) 0 -3.3vw no-repeat;
    background-size: 7500%;
    float: right;
    margin-right: -.5vw;
    cursor: pointer;
}

#sevenSteps .long .stepTitle{
    width: 90%;
}

#putOnRecordChart,#diagnosisChart,#signChart,#overcomePovertyChart{
    height:10vw;
    width:100%;
}

.step p{
    font-size: .9vw;
    text-align: center;
    margin: 1vw 0;
}

#healthChart,#laborChart{
    width:100%;
    height:9vw;
    margin-bottom:1vw;
    margin-top:1vw;
}
/*五人小组 end*/