#rightSide{
    position: relative;
}
/*首页 start*/
#leftOperation{
    position: absolute;
    background: url(../images/moqiSprite.png) -9.5vw 0 no-repeat;
    right: 23vw;
    top: 16vw;
    height: 8.5vw;
    width: 2.8vw;
    background-size: 3400%;
    cursor: pointer;
}
#leftOperation.closed{
    background: url(../images/moqiSprite.png) -9.5vw 0 no-repeat;
}
#sevenStepsTab{
    position: absolute;
    background: url(../images/moqiSprite.png) -19vw 0 no-repeat;
    right: 23vw;
    top: 10vw;
    height: 12.5vw;
    width: 3.5vw;
    background-size: 3804%;

}

#performance .progress-title{
    width: 12vw;
    display: inline-block;
    color: #b6b6b6;
    font-size: 1.1vw;
}

#performance li{
    height: 2vw;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: .5vw;
    line-height: initial;
}

#performance .progressBar{
    width:9vw;
    height:1.3vw;
}

#performance .progressRate {
    position: absolute;
    top: -1.2vw;
    margin-left:0;
    left: 40%;
}


#cause .content{
    padding:.1vw;
}

.content li.progressLi{
    height: 4.7vw;
    width: 23%;
    display: inline-block;
    float: left;
    background: rgba(255,255,255,.1);
    text-align: center;
    font-size: 1vw;
    line-height: 1.5vw;
    padding: .9vw 0 .5vw 0;
    margin-left: .4vw;
    margin-top: .4vw;
}
.content li.progressLi.long{
    width: 47.5%;
}
.progressLi.long .progressBar{
    width: 8vw;
}

.content li.progressLi .percent{
    font-size: 1vw;
    color: #26fffe;
}

#cause #chartForCause{
    clear: both;
    height: 18vw;
    width: 100%;
    background: transparent;
    border: none;
}

.chartBlock{

}

/*首页 end*/

/*贫困家庭 start*/
#seriousDisease .progressLi p{
    line-height:1vw;
    font-size:.9vw;
    padding: 0 .1vw;
}
#seriousDiseaseRight .content-top {
    height: 11vw;
}
#seriousDiseaseRight .content p {
    position: relative;
    top: 4.6vw;
    left: 6vw;
    width: 10vw;
    font-size: 1vw;
}
#seriousDiseaseRight .content>div {
    background: rgba(255,255,255,.1);
    overflow: hidden;
}
#seriousDiseaseRight .content-bottom {
    height: 6vw;
    width: 10vw;
    float: right;
}
#diseaseStructureChart{
    height: 15vw;
    width: 100%;
}
#diseaseStructureChartRight{
    height: 15vw;
    width: 100%;
}
#diseaseStructureRight .content>div {
    position: relative;
    /*height: 12vw;*/
    background: rgba(255,255,255,.1);
}
#diseaseStructureChartRight + span {
    position: absolute;
    left: 50%;
    top: 50%;
    /* bottom: 8.6vw; */
    transform: translate(-50%,-50%);
}
#diseaseIncidence .content p{
    font-weight: bold;
    line-height: 9vw;
    margin-left: 16%;
    font-size: 1.1vw;
    display: inline-block;

}
#diseaseIncidence .content>div{
    background: rgba(255,255,255,.1);
    overflow: hidden;
}
#diseaseIncidenceChart{
    height: 9vw;
    width: 12vw;
    float: right;
}
#povertyStructureChart{
    height: 14vw;
    width: 23vw;
}
#povertyStructure{
    position: relative;
}
#povertyStructure .sectionTab{
    position: absolute;
    top: 3.5vw;
    right: 1vw;
}

#educationStructureChart{
    height: 14vw;
    width: 23vw;
}

#populationStructure .content>div{
    width:49%;
    height:12vw;
    display: inline-block;
    text-align: center;
    font-size: 1vw;
}

#maleChart,#femaleChart{
    height:100%;
    width:100%;
}
#populationStructure .content{
    margin-bottom: 2vw;
}

#sexStructure .content{
    text-align: center;
    padding:1vw;
}

.sexCount{
    font-size: 2vw;
    margin: 1vw 1vw 2vw 1vw;
    letter-spacing: .6vw;
    border: 1px solid #222;
    background: #333;
    padding: .5vw;
    box-shadow: 1px 1px 6px #000 inset;
}

#leftTabs{
    height: 10vw;
    position: absolute;
    right: 23vw;
    width: 2.7vw;
}

#productionNumChart {
    height: 28vw;
    width: 100%;
}

#leftTabs span{
    background: url(../images/leftTabs.png) .2vw 0 no-repeat;
    width: 100%;
    height: 8.8vw;
    display: inline-block;
    /* width: 100%; */
    background-size: 284%;
    cursor: pointer;
}
#leftTabs span.active{
    background-position-x: -4.7vw;
}

#leftTabs .education{
    background-position-y: -8.7vw;
}
#leftTabs .sex{
    background-position-y: -17.5vw;
}
#leftTabs .poverty{
    background-position-y: -26.2vw;
}

/*贫困家庭 end*/

/*五人小组 start*/

#sevenSteps .content{
    padding:1vw;
}

#sevenSteps .step{
    width: 48%;
    height: auto;
    background: -webkit-linear-gradient(top,#5d6771,#354350);
    display: inline-block;
    margin-bottom: .3vw;
    border: 1px solid #333;
}
#sevenSteps .long{
    width: 98%;
}
#sevenSteps .step .stepTitle{
    padding: .5vw;
    font-size: .9vw;
    text-shadow: 1px 1px 1px #000;
    color: #e5ebf1;
    letter-spacing: .1vw;
    width: 80%;
    border-bottom: 1px solid #3a4652;
    margin: 0 auto;
    height: 1vw;
    line-height: 1vw;
}

#sevenSteps .step .stepTitle span{
    display: inline-block;
    height: 1.3vw;
    width: 1.1vw;
    background: url(../images/moqiSprite.png) 0 -3.3vw no-repeat;
    background-size: 7500%;
    float: right;
    margin-right: -.5vw;
    cursor: pointer;
}

#sevenSteps .long .stepTitle{
    width: 90%;
}

#putOnRecordChart,#diagnosisChart,#signChart,#overcomePovertyChart{
    height:10vw;
    width:100%;
}

.step p{
    font-size: .9vw;
    text-align: center;
    margin: 1vw 0;
}

#healthChart,#laborChart{
    width:100%;
    height:9vw;
    margin-bottom:1vw;
    margin-top:1vw;
}
/*五人小组 end*/


li.progressLi p {
    line-height: 1.4vw;
}

.content li.progressLi {
    height: 4.7vw;
    width: 23%;
    display: inline-block;
    float: left;
    background: rgba(255,255,255,.1);
    text-align: center;
    font-size: 1vw;
    line-height: 1.1vw;
    padding: .5vw 0 0 0;
    margin-left: .4vw;
    margin-top: .4vw;
    min-width: initial;
}

.command{
    position: absolute;
    opacity: 0;
    top: 0;
}

#workTrends .content>div{
    max-height:26.4vw;
    overflow-y: auto;
    height:auto;
}
#workTrends.fallback .content>div{
    max-height:32.9vw;
    overflow-y: auto;
    height:auto;
}

#workTrends img{
    width: 30%;
    height: 5vw;
    float: left;
}
.workTrend{
    border-top: 1px solid #375f9a;
    margin-top: 0.15vw;
}
.workTrend:first-child{
    border:none
}
.workTrend p span:first-child{
    float: left;
}
.workTrend p span:last-child{
    float: right;
}
.workTrend:after,.workTrend>div p:after{
    content: '';
    display: block;
    overflow: hidden;
    height:0;
    clear: both;
}

.workTrend>div{
    padding:.5vw;
    line-height: 1.1vw;
    margin-left: 38%;
}

.workTrend>div>span{
    text-indent: 1.8vw;
    font-size: .9vw;
    display: inline-block;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.workTrend>div p{
    margin-bottom: .4vw;
    display: inline-block;
    width: 100%;
}


/*党员信息弹窗*/
#memberInfo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 4vw 0;
}
.memberHeader{
    width: 7vw;
    overflow: hidden;
    height: 7vw;
    margin-right: 2vw;
    border-radius: 54vw;
}
.memberHeader img{
    width: 100%;
    height: 100%;
    border-radius: 54vw;
}

.memberInfo{
    width: 56%;
}

.memberInfo p{
    display: inline-block;
    line-height: 2vw;
    width: 44%;
    margin: 0 1vw;
    font-size: 1vw;
}

.governmentBottom .bottom-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.governmentBottom .bottomItem{
    width: 25vw;
    text-align: center;
    position: relative;
}
.governmentBottom img{
    width:9vw;
}

.governmentBottom p{
    font-size: .5vw;
}

.governmentBottom .files{
    height: 13vw;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    top: .8vw;
    left: 8vw;
}

#basicBuilding .content{
    position:relative;
}